<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Visualisation sandbox

            <small>Version 2.0</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i> Home</a>
            </li>
            <li class="active">Dashboard </li>
        </ol>
    </section>



    <!-- data="mydata" -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Trula viz sandbox</h3>


                        <!-- /.box-header -->
                        <div class="box-body">
                            <hw-viz-widget [data]="myData"></hw-viz-widget>
                            
                        </div>

                    </div>
                
                </div>
                <viz-widget [id]="'array'" [data]="myData" [widgetTitle]="'Array vis'"></viz-widget>
                <viz-widget [id]="'barchart'" [data]="barchart" [widgetTitle]="'barchart array'"></viz-widget>
                
            </div>
        </div>
    </section>
    